<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
		<!-- 加载属性配置文件，在bean实例化之前读取元数据 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations"><!-- 多个property文件用locations，list -->
			<list>
				<value>resources/config/properties/appConfig.properties</value>
				<value>resources/config/properties/server.properties</value>
				<value>resources/config/properties/jdbc.properties</value>
				<value>resources/config/properties/test.properties</value>
			</list>
		</property>
	</bean>
	<!-- 测试 -->
	<bean id="test" class="com.wk.loginserver.entity.Test">
		<property name="test" value="${root}"></property>
		<property name="appId" value="${current.appid}"/>
	</bean>
	<!-- 协议编解码工厂 -->
	<bean id="protocolCodecFactory" class="com.wk.net.DefaultDemuxingProtocolCodecFactory"></bean>
	<!-- iohandler处理器 -->	
	<bean id="minaIoHandler" class="com.wk.loginserver.handler.DefaultMinaIoHandler"></bean>
	<!-- mina server  -->
	<bean id="minaServer" class="com.wk.loginserver.MinaServer" destroy-method="stop">
		<property name="address" value="${address}"></property>
		<property name="port" value="${port}"></property>
		<property name="connectionInterval" value="${connectionInterval}"/>
		<property name="readerIdleMaxTime" value="${readerIdleMaxTime}"></property>
		<property name="writerIdleMaxTime" value="${writerIdleMaxTime}"/>
		<property name="bothIdleMaxTime" value="${bothIdleMaxTime}"/>
	</bean>
	<bean id="actionFactory" class="com.wk.net.action.support.DefaultActionFactory" />
	<bean id="actionDispatcher" class="com.wk.net.action.support.DefaultActionDispatcher">
		<property name="filterChainFactory" ref="filterChainFactory"/>
		<property name="actionFactory" ref="actionFactory"/>
	</bean>
	<bean id="filterChainFactory"
		class="com.wk.net.filter.support.DefaultFilterChainFactory">
		<property name="filterList">
			<list>
				<ref bean="capabilityMonitor" />
				<ref bean="commandFilter" />
			</list>
		</property>
	</bean>
	<bean id="commandFilter" class="com.wk.net.filter.support.CommandCollectFilter"
		init-method="init" destroy-method="destroy">
		<property name="destinationName">
			<value>topic/</value>
		</property>
	</bean>
	<bean id="capabilityMonitor" class="com.wk.net.filter.support.CapabilityMonitor"
		init-method="init" destroy-method="destroy">
		<property name="interval">
			<value>10000</value>
		</property>
	</bean>
	<bean id="appConfig" class="com.wk.config.AppConfig"
		init-method="init">
		<property name="fileName">
			<value>/resources/config/properties/appConfig.properties</value>
		</property>
	</bean>
	<!-- 测试 -->
	<bean id="service" class="com.wk.loginserver.entity.Service"></bean>
	<context:annotation-config />
	<!-- 配置数据源 -->
	<import resource="spring-dataSource.xml"/>
</beans>
